body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #e8eae6 !important;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
}

.ui.input > input {
  font-family: "Architects Daughter", cursive;
  font-size: 1.2rem;
}

.header-1,
.header-2 {
  background-color: #cfdac8 !important;
  margin: 0px !important;
  color: #7c9473;
  /* font-weight: 800 !important; */
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif !important;
}

.header-1 {
  padding: 20px 50px !important;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

.header-2 {
  padding: 0 50px 20px !important;
}

.header-text {
  font-weight: 800 !important;
  font-size: 25px !important;
  font-family: "Montserrat", sans-serif !important;
  color: #7c9473 !important;
}

.cart-link {
  width: 45px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-left: 20px;
}

.input-search {
  position: relative;
  margin-right: 20px;
}

.input-search span {
  position: absolute;
  font-size: 30px;
  right: 3px;
  top: 6px;
}

.input-search span:hover {
  cursor: pointer;
}

.body-text,
.body-text a {
  font-weight: 400 !important;
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif !important;
  color: #7c9473 !important;
}

.body-text a span {
  font-size: 22px !important;
}

.landing {
  text-align: center !important;
  position: relative;
}

.landing-header {
  position: absolute;
  z-index: 99;
  color: #e8eae6;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 40px;
}

.landing-header h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.landing-header h4 {
  font-size: 2rem;
  font-weight: 900;
}

.legend-item {
  font-size: 16px !important;
}

.nav-item {
  margin-right: 20px !important;
}

.ui.card > .content,
.ui.cards > .card > .content {
  padding: 0px !important;
}

/* Contacts */
.contacts div {
  margin-bottom: 15px;
}

.contacts a {
  display: block;
  margin-bottom: 15px;
}

/* Footer */
.footer {
  /* margin-top: 50px; */
  background-color: #7c9473 !important;
  color: #e8eae6 !important;
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif !important;
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  /* width: 100%; */
  margin-top: auto;
}

.footer-header {
  color: #e8eae6 !important;
  font-size: 16px !important;
  margin-bottom: 20px !important;
  font-family: "Montserrat", sans-serif !important;
}

.social-item {
  max-width: 29px;
  filter: invert(98%) sepia(0%) saturate(2971%) hue-rotate(300deg)
    brightness(113%) contrast(82%);
  margin-right: 20px;
}

.social-item:hover {
  cursor: pointer;
}
