body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #d0e8f2;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.ui.input > input {
  font-family: "Architects Daughter", cursive;
  font-size: 1.2rem;
}

.header-1,
.header-2 {
  background-color: #cfdac8 !important;
  margin: 0px !important;
  color: #7c9473;
  font-weight: 800 !important;
  font-size: 16px !important;
}

.header-1 {
  padding: 20px 50px !important;
}

.header-2 {
  padding: 0 50px 20px !important;
}

.landing {
  text-align: center !important;
  position: relative;
}

.landing-header {
  position: absolute;
  z-index: 99;
  color: #e8eae6;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 40px;
}

.landing-header h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.landing-header h4 {
  font-size: 2rem;
  font-weight: 900;
}

.nav-item {
  margin-right: 20px !important;
}

.ui.card > .content,
.ui.cards > .card > .content {
  padding: 0px !important;
}
